<div class="footer" id="mainPageFooter">

        Купить слона в соцсетях:
        <a href="http://google.com/+"><i class="fa fa-google-plus-square fa-2x redcolor"></i></a>
        <a href="http://facebook.com/"><i class="fa fa-facebook-square fa-2x darkbluecolor"></i></a>
        <a href="http://facebook.com/"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="http://twitter.com/"><i class="fa fa-twitter-square fa-2x lightbluecolor"></i></a>
        <a href="http://youtube.com/"><i class="fa fa-youtube-square fa-2x redcolor"></i></a>

        <div class="div-to-right">
            <button class="close-footer-button" ng-click="annihilateFooter()">
                <i class="fa fa-window-close-o fa-2x redcolor"></i> Не время!
            </button>
        </div>

</div>
