<div class="header" id="mainPageHeader">
    <div class="slider">
        <img class="img4Slider" src="../images/gbanner_1.jpg">
        <img class="img4Slider" src="../images/gbanner_2.jpg">
        <img class="img4Slider" src="../images/gbanner_3.jpg">
    </div>

    <nav class="menubar-horizontal">
        <ul class="navigation-horizontal">
            <li> <a ui-sref="app">Главная</a>
            <li><a ui-sref="app.selection"><i class="fa fa-chevron-down"></i> Купить слона</a>
                <ul>
                    <li><a ui-sref="app.selection">Красивого</a>
                    <li><a ui-sref="app.selection">Блестящего</a>
                    <li><a ui-sref="app.selection">Совсем как настоящего</a>
                </ul>
            <li><a ui-sref="app.addnewitem"><i class="fa fa-chevron-down"></i> Продать слона</a>
                <ul>
                    <li><a ui-sref="app.addnewitem">Продать нового слона</a>
                    <li class="sell-old"><a ui-sref="app.addnewitem">Продать старого слона <i class="fa fa-chevron-right"></i></a>
                        <ul class="old-subproperty">
                            <li><a ui-sref="app.addnewitem">Борозду портит</a>
                            <li><a ui-sref="app.addnewitem">Борозды не портит</a>
                        </ul>
                </ul>
            <li class="last-menu-item"><a ui-sref="app.contacts">Контакты <i class="fa fa-chevron-down"></i></a>
                <ul>
                    <li><a ui-sref="app.contacts"><i class="fa fa-envelope-o"></i> Написать</a>
                    <li><a ui-sref="app.contacts"><i class="fa fa-phone"></i> Позвонить</a>
                    <li><a ui-sref="app.contacts"><i class="fa fa-car"></i> Приехать</a>
                </ul>
        </ul>
    </nav>

</div>