<div class="mainPageContainer">

    <div class="breadcrumbs"><span class="breadcrumb-text"><a ui-sref="app">Главная</a>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Подбор слонов</span></div>

    <h2>Подбор слона (всего загружено {{iNumItems}} слонов)</h2>
        <button id="openSearchButton" ng-click="showHideSearchDiv()">Открыть поиск по параметрам</button>
    <div class="search-div">
        <label for="itemID4Search"> По коду слона </label>
            <input type="text" id="itemID4Search" ng-model="itemID4Search" placeholder="введите код слона">
        <button class="search-button" ng-click="searchItemByID()">поиск</button>
        <br>
        <label for="sellerName4Search"> По имени продавца</label>
        <input type="text" id="sellerName4Search" ng-model="sellerName4Search" placeholder="введите имя">
        <button class="search-button" ng-click="searchItemBySellerName()">поиск</button>
    </div><br>

    <label><input type="checkbox" id="onlyNewItemsCheckbox" ng-model="onlyNewItemsChecked" ng-change="filterNewItems()"/>
        Только новые слоны</label>
    <label><input type="checkbox" id="sortItemsbyPrice" ng-model="sortItemsByPriceChecked" ng-change="sortItemsByPrice()"/>Сортировать по возрастанию цены</label>


    <div class="pagination-div">
        <p>Показать на странице:
            <label><input type="radio" ng-model="iNumItemsPerPage" ng-value="5" ng-change="updatePagesNumbers()"/> 5 </label>
            <label><input type="radio" ng-model="iNumItemsPerPage" ng-value="10" checked ng-change="updatePagesNumbers()"/> 10 </label>
            <label><input type="radio" ng-model="iNumItemsPerPage" ng-value="15" ng-change="updatePagesNumbers()"/> 15 </label>
            <!--<button id="generateRandomItemsButton" ng-click="loadRandomItemsChunk()">Случайные слоны</button>-->
        </p>

        Переход на страницу:
        <ul class="pagination-horizontal">
            <li ng-repeat="page in pageNamesArray" ng-click="generatePageItemNumbers(page)">
                <a ng-style="markCurrentPage(page)">{{page}}</a>
            </li>
        </ul>

    </div>

    <div class="item-wrapper" ng-repeat="i in itemNumbersArray">
        <div class="image-wrapper">
            <div class="image-div">
                <img ng-src="{{allItems[i].itemImageFilename}}">
            </div>
        </div>
        <div class="description-wrapper">
            <p id="itemNameParagraph">{{allItems[i].itemName}}</p>
            <p>{{allItems[i].itemCurrentPrice}} теньге</p>
            <button ng-click="navigate2Item(allItems[i]._id)">Подробнее</button>
        </div>


    </div>


</div>