<div class="sidebar">
    <h4>Быстрый переход</h4>
    <nav class="menu-vertical">
        <ul class="navigation-vertical">
            <li><a ui-sref="app">В начало</a></li>
            <li class="parent"><a ui-sref="app.addnewitem">Продать</a>
                <ul class="firstlevel-submenu">
                    <li><a ui-sref="app.addnewitem"> <i class="fa fa-caret-right" aria-hidden="true"></i> нового</a></li>
                    <li><a ui-sref="app.addnewitem"> <i class="fa fa-caret-down" aria-hidden="true"></i> старого</a>
                        <ul class="secondlevel-submenu">
                            <li><a ui-sref="app.addnewitem"> <i class="fa fa-caret-right" aria-hidden="true"></i> пищит</a></li>
                            <li><a ui-sref="app.addnewitem"> <i class="fa fa-caret-right" aria-hidden="true"></i> скрипит</a></li>
                            <li><a ui-sref="app.addnewitem"> <i class="fa fa-caret-right" aria-hidden="true"></i> поёт</a></li>
                            <li><a ui-sref="app.addnewitem"> <i class="fa fa-caret-right" aria-hidden="true"></i> танцует</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a ui-sref="app.selection">Подобрать</a>
                <ul class="firstlevel-submenu">
                    <li><a ui-sref="app.selection"> <i class="fa fa-caret-right" aria-hidden="true"></i> красивого</a></li>
                    <li><a ui-sref="app.selection"> <i class="fa fa-caret-right" aria-hidden="true"></i> блестящего</a></li>
                    <li><a ui-sref="app.selection"> <i class="fa fa-caret-right" aria-hidden="true"></i> настоящего</a></li>
                </ul></li>
            <li class="active"><a ui-sref="app.contacts">Связь</a></li>
        </ul>
    </nav>

</div>